h1,h2,h3,ul,li {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 768px) {
  .main {
    float: none;
    width: auto;
    margin-bottom: 50px;
  }
  .aside {
    width: auto;
    float: none;
    display: block;
  }
  .footer {
    width: 100%;
  }
}




body {
  color: #66687A;
}

.container1 {
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.header {
  width: 100%;
  border-top: solid 5px blue;
  margin-bottom: 25px;
  overflow: hidden;
}

h1 {
  padding: 25px 0 30px 25px;
}

h1 a {
  text-decoration: none;
  color:#193cbd;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
  line-height: 30px;
}

nav {
  height: 60px;
  border-top: solid 1px #D2D2D2;
  text-align: center;
}



nav ul {
  width: 100%;
  display: flex;
  height: 100%;
}


nav ul li {
  list-style: none;
  display: inline-block;
  flex: auto;
  height: 100%;
  border-right: solid 1px #D2D2D2;

}

nav ul li:hover {
    background-color: #E6EBFA;
    transition: 1s;

  }



nav ul a {
  padding: 15px 30px;
  text-decoration: none;
  color: #666;
}

nav ul a:hover {
  border-left: 2px solid blue;
  background-color: #E6EBFA;
  color: blue;
}

a {
  transition: 0.3s;
}

.aaaa {
  margin-top: 10px;
}
.aaa {
  font-size: 15px;
  font-weight: 700;
  color: #666;
}

.aa {
  font-size: 12px;
  }
}

.mainimg {
  max-width: 100%;
  height: auto;
}





.main {
  float: left;
  width:73%;
}



.blue-title {
  background-color: #103CE1;
  color: white;
  border-radius: 6px;
  font-size: 18px;
  padding: 10px 0 10px 30px;
  margin-bottom: 20px;
}

.main ul {
  line-height: 2;
}
.main li {
  list-style: none;
  border-bottom: solid 1px #66687A;
  margin: 0 20px;
}

.date {
  color: #0E36CA;
  margin: 0 20px 0 15px;
}

.red {
  color: white;
  background-color: red;
  border-radius: 2px;
}

a {
  color: #66687A;
}

.right {
  text-align: right;
  margin-bottom: 50px;
}

.white-title {
  border: solid  1px  #D2D2D2;
  border-radius: 6px;
  font-size: 18px;
  background-color: #F1F1F1;
  padding: 10px 0 10px 30px;
}

p {
  padding: 0 20px 20px;
}

.point {
    color: #FF0000;
    font-weight: 700;
}

.redh3 {
  color: #FF0000;

}

.background {
  width: 300px;
}



.aside {
  width: 27%;
  display: inline-block;
  margin-bottom: 800px;
}

.aside li {
  list-style: none;
  
}

.first, .second, .third, .forth, .fifth {
  margin: 0 35px;
  height: 200px;
  margin-bottom: 20px;
}

.first, .third, .fifth {
  border: solid  1px  #D2D2D2;
  background-color: #F3F3F3;
}

  
.wh-title {
  margin: 10px 10px 0;
  background-color: #EEEEEE;
  padding: 15px 10px;
  font-size: 15px;
  font-weight: 700;
  color: #666;
  border-top: solid 5px #0E36CA;
  border-bottom: solid  1px  #D2D2D2;
}

.aside li {
  margin: 0 10px;
  padding: 10px;
  font-size: 15px;
  color: #666;
  border-bottom: solid  1px  #D2D2D2;
}

.fifth span {
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
}
.fifth p {
  font-size: 11px;
}

.fifth-under {
  text-align: center;
}




.footer {
  background-color: #103CE1;
  color: white;
  text-align: center;
  height: 80px;
  padding-top: 20px;
  font-size: 13px;
  line-height: 25px;
  width: 100%;
}

.footer a {
  color: white;
}
